<!doctype html>
<html>
<head>
  <title>
    Ratings
  </title>
</head>

<body>
  <a href='/'>Ratings</a>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <hr>

    {% block content %} put your content here {% endblock %}


</body>
<footer>

<a href="/">Homepage</a>

<a href='/movies'>Movies</a>

<a href='/users'>Users</a>

{% if session.get('user') %}
  <a href="/users/{{ session.get('user') }}">Profile</a>
  <a href="/update-info">Update profile</a>
  <a href='/logout'>Logout</a>
{% else %}
  <a href='/login'>Login</a>
  <a href="/register">Register for an account</a>
{% endif %}


</div>

</footer>
</html>