{% extends 'base.html' %}
{% block content %}

  <h2>Movie Details</h2>

  <h3>{{ movie.movie_title }}</h3>

  Release date: {{ movie.released_on }}<br>
  <a href='{{ movie.imdb_url }}'>IMDB link</a><br>

  <p>Average rating: {{ average }}</p>
    {% if prediction %}
      <p>We predict you will rate this movie {{ prediction }}.</p>
    {% endif %}

  {% if session.get('user') %}
      
      <h3>Rate {{ movie.movie_title }}</h3>
      <form action='/add-rating' method='POST'>
          <input type="number" min="1" max="5" name="user_rating">
          <input type="submit" value="Submit your rating">
          <input type="hidden" value="{{ movie.movie_id }}" name="movie_id">
      </form>
  {% endif %}

  User ratings:
  <ul>
    {% for rating in movie.ratings %}
      <li>
            User:
            <a href="/users/{{ rating.user_id }}">{{ rating.user_id }}</a>
            Rating: ({{ rating.rating }})
      </li>
    {% endfor %}
  </ul>

{% endblock %}