{% extends 'base.html' %}
{% block content %}

  <h2>User Details</h2>

  <h3>User ID: {{ user.user_id }}</h3>

  Age: {{ user.age }}<br>
  Zipcode: {{ user.zipcode }}<br>
  Occupation: {{ user.occupation }}<br>
  Gender: {{ user.gender }}<br>
  Email: {{ user.email }}<br>

  {% if user.user_id == session.get('user') %}
    <a href='/update-info'>Update your user profile</a><br>
  {% endif %}

  <ul>
    {% for rating in user.ratings %}
      <li>
          Movie: 
          <a href="/movies/{{ rating.movies.movie_id }}">{{ rating.movies.movie_title }}</a>
          Rating: {{ rating.rating }}
      </li>
    {% endfor %}
  </ul>


{% endblock %}